.signin{
    display: block;
    width: 100%;
    max-width: 40.0rem;
    border: 1px solid black;
    margin: 4rem auto 6rem;

    .wrap{
        padding: 10px;
        
        h2{
            font-size: 2.2rem;
            line-height: 1;
            font-weight: 400;
            text-transform: uppercase;
            display: block;
            width: 100%;
            text-align: center;
            margin: 0;
        }
        .social-sign-in{
            margin: 3rem;
        }

    }
}